<% @messageToView.each do |key, value| %>
    <legend>Mensagens do Utilizador ID: <%= key %> <br> </legend>
	<% value.each do |m| %>
    	<%= render "messages/show" , :message => m %>
    <% end %>
    <%# not responde to me%>
	  <p>  
	    <%= button_to "Responder", "javascript:sender_button(#{key})"%>
	  </p>
<% end %>

<%# first contact to seller%>
<% if @ad.user_id != current_user.id %>
  <p>  
    <%= button_to "Contactar anuncinate", "javascript:sender_button(#{@ad.user_id})"%>
  </p>
<% end %>