<% if flash[:notice] %>
  <script> showNotify("<%= flash[:notice] %>","success") </script>
<% end %>
<% if flash[:error] %>
  <script> showNotify("<%= flash[:error] %>","error") </script>
<% end %>

<!-- Listagem de anúncios -->

 <ol class="breadcrumb" id="breadcrumbAds">
    <li class="active"><a href="<%= ads_path %>"><i class="fa fa-tags"></i> Anúncios</a></li>
 </ol>


  <div class="row ads_index_section.ads" id="ads">
    <%= render :partial => @ads %>
    <% if @ads.empty? %>
      Ainda não existem anuncios. Sê o primeiro a anunciar!
    <% end %>
  </div>
  <p id="loading" style="visibility: hidden">A buscar mais anuncios</p>

<% #= will_paginate @products %>



