<div class="panel">
    <div class="panel-heading border-header">
            <h3 class="panel-title">Novo Anúncio</h3>
        </div>
    <div class="panel-body">

	<%= render 'form' %>

	</div>
</div>

<%= link_to 'Voltar', myads_user_path(current_user.id) %>
