<div class="panel panel-default">
    <div class="panel-heading">
            <h3 class="panel-title">Novo Anúncio</h3>
        </div>
    <div class="panel-body">

	<input type="checkbox" class="myClass" value="yes" id="answer" name="answer"/>

	<input type="checkbox" class="myClass" value="yes" id="answer" name="answer" data-color="green" />


	<%= render 'form' %>

	</div>
</div>


<script>
    $(function() {
        var addresspicker = $( "#addresspicker" ).addresspicker();
        var addresspickerMap = $( "#addresspicker_map" ).addresspicker(
        {
            regionBias: "de",
            map:      "#map_canvas",
            typeaheaddelay: 1000,
            mapOptions: {
                zoom:16,
                center: new google.maps.LatLng(52.5122, 13.4194)
            }

        });

        addresspickerMap.on("addressChanged", function(evt, address) {
           alert(address.geometry.location.lat() +"," + address.geometry.location.lng())
           console.dir(address);
        });
        addresspickerMap.on("positionChanged", function(evt, markerPosition) {
            markerPosition.getAddress( function(address) {
                if (address) {
                    $( "#addresspicker_map").val(address.formatted_address);
                }
            })
        });
    });
</script>






<%= link_to 'Back', users_myads_path %>
