<div class="panel panel-default">
    <div class="panel-heading">
            <h3 class="panel-title">Novo Anúncio</h3>
        </div>
    <div class="panel-body">

	<input type="checkbox" class="myClass" value="yes" id="answer" name="answer"/>

	<input type="checkbox" class="myClass" value="yes" id="answer" name="answer" data-color="green" />


	<%= render 'form' %>

	</div>
</div>

<%= link_to 'Back', users_myads_path %>
