<ol class="breadcrumb" id="breadcrumbAds">
  <li class="active">
    <a class="url" href="<%= event_events_path %>"><i class="fa fa-tags"></i> Eventos</a>
    <% if user_signed_in? %>
        <%= link_to ' > Novo Evento', new_event_event_path,:class=> "url"%>
    <% end %>
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading border-header">
    <h3 class="panel-title">Novo Evento</h3>
  </div>
  <div class="panel-body" id="edit-event">

    <%= render 'form' %>

  </div>
</div>
