<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-calendar"></i> <a class="url" href="<%= event_events_path %>">Eventos</a>
  </li>
    <% if user_signed_in? %>
        <%= link_to ' > Novo Evento', new_event_event_path,:class=> "url"%>
    <% end %>
</ol>

<% if current_user.remaining_events_slots > 0 %>
  <div class="panel panel-default" style="padding-bottom:50px; margin-bottom:0; min-height:455px;">
    <div class="panel-heading border-header">
      <h3 class="panel-title">Novo Evento</h3>
    </div>
    <div class="panel-body" id="edit-event">

      <%= render 'form' %>

    </div>
  </div>
<% else %>
  <p>Já não tem mais slots para eventos, compre mais <%= link_to "aqui", plans_path %></p>
<% end %>