<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-frc3/t1/1396071_390235727745779_1603349022_n.png" alt="Smiley face" height="120" width="120"> <br>
    <h1>Caro, <%= @user %> seja bem vindo ao AgroSocial</h1>
    <p>
      O seu login com <%= @email %>, foi feito com sucesso,
    </p>
    <p>
      Para seguir todas as novidades clique neste <a href="<%= @url %>">link</a>.
    </p>
    <p>Obrigado pela sua visita!</p>
  </body>
</html>