<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12" style="padding-right: 0;">
      <div class="panel" id="form_message" style="border: 1px solid #dddddd;">
        <header class="panel-heading border-header" style="background-color:#f5f5f5; border-bottom:1px solid #dddddd;">
          Resposta
        </header>
        <div class="panel-body" style="margin-bottom:50px;">
          <% if controller.action_name != "edit" %>
            <%= form_for @academy_answer ,:html => { :id => "academy_answer" , :ajax_path => academy_answers_new_path } do |f| %>
              <%= render 'academy/answers/form_aux', :f => f, :question => question %>
            <% end %>
          <% else %>
            <%= form_for @academy_answer do |f| %>
              <%= render 'academy/answers/form_aux', :f => f, :question => question %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
