<p id="notice"><%= notice %></p>


<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">

          <div class="pull-right">
                <button class="btn btn-success btn-xs">
                  <i class="icon-ok"></i>

                </button>
                <button class="btn btn-primary btn-xs">
                  
                  <%= link_to '<i class="icon-pencil"></i>'.html_safe , edit_academy_answer_path(answer) %>
                </button>
                <button class="btn btn-danger btn-xs">
                  <i class="icon-trash "></i>
                </button>
            </div>
          <div class="" >
            Resposta
          </div>

        </header>

        
        <div class="panel-body">
          
            <div class="col-xs-2 col-md-2">
              <img class="img-circle" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=70" alt="User Pic">
            </div>

            <div class="col-xs-9 col-md-10 ">
              
                  <%= answer.text %>
                  
           </div>
         </div>

     </section>
</div>


