<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price_type.name %>
</p>

<%= link_to 'Edit', edit_admin_price_type_path(@price_type) %> |
<%= link_to 'Back', admin_price_types_path %>
