<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_tutorials_path %>"></i> Tutoriais</a> >
    <a class="url" href="<%= new_academy_tutorial_path %>"> Novo Tutorial</a>
  </li>
</ol>

<%= render 'form' %>