<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia >
    <a class="url" href="<%= academy_tutorials_path %>"></i> Tutoriais</a> >
    <% if user_signed_in? %>
        <%= link_to ' Novo Tutorial', new_academy_tutorial_path,:class=> "url"%>
    <% end %>
  </li>
</ol>

<%= render 'form' %>