<div class="workshop_inscription_title">
  <p> Utilizadores Inscritos no Workshop:</p>
</div> 

<table id="workshop-inscriptions" class="table table-hover">
  <thead>
    <tr class="workshop_table_head">
      <th>Utilizador</th>
      <th>Inscrito em</th>
      <th>Opcões</th>
    </tr>
  </thead>

  <tbody>
    <% @academy_workshop_registrations.each do |academy_workshop_registration| %>
      <tr>
        <td><%= link_to academy_workshop_registration.user.name, user_path, class: "url" %></td>
        <td><%= academy_workshop_registration.created_at.strftime('%d-%m-%Y %H:%M') %></td>
        <td><%= link_to 'Cancelar Inscricao', academy_workshop_registration, class: "url", method: :delete, data: { confirm: 'Tem a certeza que pretende cancelar a inscrição?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


