
  <ol class="breadcrumb" id="breadcrumbAds">
              <li class="active"><a href="<%= myads_user_path(current_user.id) %>"><i class="fa fa-tags"></i> Os meus anúncios</a></li>
 </ol>

  <div class="row ads_index_section">
    <%= render :partial => @ads %>
  </div>
  
  <!-- O link para criar novos ads só existirá se for a página do próprio utilizador -->
  <% if @user.id == current_user.id %>
    <%= link_to "Novo", new_ad_path %>
  <% end %>
</section>