<ol class="breadcrumb" id="breadcrumbAds">
  <li class="active">
    <a class="url" href="<%= academy_workshops_path %>"><i class="fa fa-tags"></i> Workshops</a>
    <% if user_signed_in? %>
        <%= link_to ' > Novo Workshop', new_academy_workshop_path,:class=> "url"%>
    <% end %>
  </li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading border-header">
    <h3 class="panel-title">Novo Workshop</h3>
  </div>
  <div class="panel-body" id="edit-workshop">

    <%= render 'form' %>

  </div>
</div>

