<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia</li> >
    <a class="url" href="<%= academy_workshops_path %>"></i> Workshops</a> >
    <% if user_signed_in? %>
        <%= link_to ' Novo Workshop', new_academy_workshop_path,:class=> "url"%>
    <% end %>
  </li>
</ol>

<div class="panel panel-default" style="margin-bottom:0; min-height:935px;">
  <div class="panel-heading border-header">
    <h3 class="panel-title">Novo Workshop</h3>
  </div>
  <div class="panel-body" id="edit-workshop" style="margin-bottom:50px;">

    <%= render 'form' %>

  </div>
</div>

