<div class="container" style="margin-top:10px">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Regular</h3>
        </div>
        <div class="panel-body-plan">
          <div class="the-price">
            <h1>0€</h1>
            <small>GRATUITO</small>
          </div>
          <table class="table">
            <tr>
              <td>5 Anúncios</td>
            </tr>
            <tr class="active">
              <td>1 Evento</td>
            </tr>
            <tr>
              <td>Acesso à Academia</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a onclick="location.href='<%= new_user_session_path %>'" class="btn btn-success" style="color:white" href="#"><i class="icon-shopping-cart icon-white"></i> Iniciar Sessão »</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3  col-md-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Horta</h3>
        </div>
        <div class="panel-body-plan">
          <div class="the-price">
            <h1>5€</h1>
            <small>Para pequenos agricultores.</small>
          </div>
          <table class="table">
            <tr>
              <td>10 Anúncios</td>
            </tr>
            <tr class="active">
              <td>5 Eventos</td>
            </tr>
            <tr>
              <td>Acesso à Academia</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a onclick="location.href='<%= plans_path %>'" class="btn btn-success" style="color:white" href="#"><i class="icon-shopping-cart icon-white"></i> Comprar »</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3  col-md-3">
      <div class="panel panel-warning">
        <div class="cnrflash">
          <div class="cnrflash-inner">
                        <span class="cnrflash-label">MAIS<br>POPULAR</span>
          </div>
        </div>
        <div class="panel-heading">
          <h3 class="panel-title">Quinta</h3>
        </div>
        <div class="panel-body-plan">
          <div class="the-price">
            <h1>15€</h1>
            <small>Para agricultores.</small>
          </div>
          <table class="table">
            <tr>
              <td>20 Anúncios</td>
            </tr>
            <tr class="active">
              <td>10 Eventos</td>
            </tr>
            <tr>
              <td>Acesso à Academia</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a onclick="location.href='<%= plans_path %>'" class="btn btn-success" style="color:white" href="#"><i class="icon-shopping-cart icon-white"></i> Comprar »</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Herdade</h3>
        </div>
        <div class="panel-body-pland">
          <div class="the-price">
            <h1>25€</h1>
            <small>Para grandes agricultores.</small>
          </div>
          <table class="table">
            <tr>
              <td>50 Anúncios</td>
            </tr>
            <tr class="active">
              <td>30 Eventos</td>
            </tr>
            <tr>
              <td>Acesso à Academia</td>
            </tr>
          </table>
        </div>
        <div class="panel-footer">
          <a onclick="location.href='<%= plans_path %>'" class="btn btn-success" style="color:white" href="#"><i class="icon-shopping-cart icon-white"></i> Comprar »</a>
        </div>
      </div>
    </div>
  </div>

</div>