<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Título 1 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:17.0pt;
	font-family:"Arial","sans-serif";}
h2
	{mso-style-link:"Título 2 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:14.0pt;
	font-family:"Arial","sans-serif";}
h3
	{mso-style-link:"Título 3 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";}
h4
	{mso-style-link:"Título 4 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{mso-style-link:"Texto de nota de rodapé Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
span.MsoFootnoteReference
	{font-family:"Times New Roman","serif";
	vertical-align:super;}
span.MsoEndnoteReference
	{font-family:"Times New Roman","serif";
	vertical-align:super;}
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
	{mso-style-link:"Texto de nota de fim Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBlockText, li.MsoBlockText, div.MsoBlockText
	{margin-top:0cm;
	margin-right:72.0pt;
	margin-bottom:6.0pt;
	margin-left:72.0pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{mso-style-link:"Texto simples Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Courier New";}
span.Ttulo2Carcter
	{mso-style-name:"Título 2 Carácter";
	mso-style-link:"Título 2";
	font-family:"Calibri","sans-serif";
	font-weight:bold;
	font-style:italic;}
p.ContentsHeader, li.ContentsHeader, div.ContentsHeader
	{mso-style-name:"Contents Header";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:center;
	text-autospace:none;
	font-size:16.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;}
p.TickList, li.TickList, div.TickList
	{mso-style-name:"Tick List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.LowerCaseList, li.LowerCaseList, div.LowerCaseList
	{mso-style-name:"Lower Case List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents1, li.Contents1, div.Contents1
	{mso-style-name:"Contents 1";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents2, li.Contents2, div.Contents2
	{mso-style-name:"Contents 2";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:72.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.ArrowheadList, li.ArrowheadList, div.ArrowheadList
	{mso-style-name:"Arrowhead List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.LowerRomanList, li.LowerRomanList, div.LowerRomanList
	{mso-style-name:"Lower Roman List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading1, li.NumberedHeading1, div.NumberedHeading1
	{mso-style-name:"Numbered Heading 1";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading2, li.NumberedHeading2, div.NumberedHeading2
	{mso-style-name:"Numbered Heading 2";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.DiamondList, li.DiamondList, div.DiamondList
	{mso-style-name:"Diamond List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents4, li.Contents4, div.Contents4
	{mso-style-name:"Contents 4";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:144.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents3, li.Contents3, div.Contents3
	{mso-style-name:"Contents 3";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:108.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading3, li.NumberedHeading3, div.NumberedHeading3
	{mso-style-name:"Numbered Heading 3";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedList, li.NumberedList, div.NumberedList
	{mso-style-name:"Numbered List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.TextodenotadefimCarcter
	{mso-style-name:"Texto de nota de fim Carácter";
	mso-style-link:"Texto de nota de fim";
	font-family:"Times New Roman","serif";}
p.BulletList, li.BulletList, div.BulletList
	{mso-style-name:"Bullet List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.ChapterHeading, li.ChapterHeading, div.ChapterHeading
	{mso-style-name:"Chapter Heading";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.SquareList, li.SquareList, div.SquareList
	{mso-style-name:"Square List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.DashedList, li.DashedList, div.DashedList
	{mso-style-name:"Dashed List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Ttulo3Carcter
	{mso-style-name:"Título 3 Carácter";
	mso-style-link:"Título 3";
	font-family:"Calibri","sans-serif";
	font-weight:bold;}
p.HeartList, li.HeartList, div.HeartList
	{mso-style-name:"Heart List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.UpperRomanList, li.UpperRomanList, div.UpperRomanList
	{mso-style-name:"Upper Roman List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.UpperCaseList, li.UpperCaseList, div.UpperCaseList
	{mso-style-name:"Upper Case List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Footnote, li.Footnote, div.Footnote
	{mso-style-name:Footnote;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:14.4pt;
	margin-bottom:.0001pt;
	text-indent:-14.4pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.HandList, li.HandList, div.HandList
	{mso-style-name:"Hand List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Ttulo1Carcter
	{mso-style-name:"Título 1 Carácter";
	mso-style-link:"Título 1";
	font-family:"Calibri","sans-serif";
	font-weight:bold;}
span.TextodenotaderodapCarcter
	{mso-style-name:"Texto de nota de rodapé Carácter";
	mso-style-link:"Texto de nota de rodapé";
	font-family:"Times New Roman","serif";}
span.Ttulo4Carcter
	{mso-style-name:"Título 4 Carácter";
	mso-style-link:"Título 4";
	font-family:"Cambria","serif";
	font-weight:bold;}
p.SectionHeading, li.SectionHeading, div.SectionHeading
	{mso-style-name:"Section Heading";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.TextosimplesCarcter
	{mso-style-name:"Texto simples Carácter";
	mso-style-link:"Texto simples";
	font-family:Courier;}
p.ImpliesList, li.ImpliesList, div.ImpliesList
	{mso-style-name:"Implies List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.BoxList, li.BoxList, div.BoxList
	{mso-style-name:"Box List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.StarList, li.StarList, div.StarList
	{mso-style-name:"Star List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.TriangleList, li.TriangleList, div.TriangleList
	{mso-style-name:"Triangle List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Endnote, li.Endnote, div.Endnote
	{mso-style-name:Endnote;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:14.4pt;
	margin-bottom:.0001pt;
	text-indent:-14.4pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
 /* Page Definitions */
 @page WordSection1
	{size:595.25pt 841.85pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=PT style='text-justify-trim:punctuation'>

<div class=WordSection1>

<p class=MsoNormal style='text-align:justify'><b>Política de Privacidade -
Recolha de dados pessoais</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode ser
visualizado, sem que seja necessário disponibilizar qualquer informação
pessoal. Todavia, existem àreas – como a colocação de anúncios - que exigem a
cedência de informação, sendo necessário que os utilizadores forneçam os seus
dados pessoais, para que possam usufruir dos serviços disponibilizados.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A recolha de dados de identificação
do utilizador será efectuada através do preenchimento de um formulário de
registo online e ocorrerá de acordo com as mais estritas regras de segurança.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>O utilizador ao registar-se na
Agrosocial fornece dados pessoais, tais como o nome, endereço electrónico válido,
telefone, etc., necessários para subscrever os serviços e newsletters do site.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Os dados recolhidos são
introduzidos no sistema informático, onde são tratados e processados
automaticamente nos termos aprovados pela Comissão Nacional de Protecção de
Dados (CNPD), destinando-se os dados à gestão de serviços da Agrosocial.</p>

<p class=MsoNormal style='text-align:justify'></p>

<p class=MsoNormal style='text-align:justify'>A entidade responsável pela
Agrosocial garante ao utilizador registado a possibilidade de, nos termos da
Lei nº 67/98, de 26 de Outubro, aceder aos seus dados pessoais através da sua página
pessoal e proceder à sua actualização e correcção.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode obter e guardar
informações específicas do dispositivo (como o modelo do hardware, versão do
sistema operacional, identificadores exclusivos de produtos e informações de
rede móvel, inclusive número de telefone.</p>

<p class=MsoNormal style='text-align:justify'></p>

<p class=MsoNormal style='text-align:justify'>Quando utiliza um serviço da
Agrosocial capaz de identificar a sua localização, podemos obter, armazenar e
processar informações sobre sua localização em tempo real, como sinais de GPS
enviados por um dispositivo móvel. Além disso, podemos usar várias tecnologias
para determinar o local onde se encontra, como dados do sensor do seu
dispositivo móvel que podem, por exemplo, fornecer informações sobre pontos próximos
de acesso Wi-Fi ou de rede móvel.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A sua sessão na Agrosocial, poderá
ser gravada de modo a ser analisada de forma agregada e anónima para
interpretar os padrões de utilização do site e melhorar, de forma contínua, os
níveis de serviço e a satisfação do utilizador.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode recorrer a
entidades terceiras para levar a cabo atividades de publicidade e monitorizar
comunicações de marketing.</p>

<p class=MsoNormal style='text-align:justify'></p>

<p class=MsoNormal style='text-align:justify'>Entidades terceiras como a
Google, podem exibir anúncios do Agrosocial em sites das suas rede de conteúdo.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Entidades terceiras como a
Google, podem utilizar Cookies (como os cookies do Google Analytics e da
DoubleClick) que servem para optimizar anúncios com base em informações de
visitas passadas dos utilizadores na plataforma Agrosocial.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

</div>
</body>
</html>