<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 12 (filtered)">
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Courier;
	panose-1:2 7 4 9 2 2 5 2 4 4;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
h1
	{mso-style-link:"Título 1 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:17.0pt;
	font-family:"Arial","sans-serif";}
h2
	{mso-style-link:"Título 2 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:14.0pt;
	font-family:"Arial","sans-serif";}
h3
	{mso-style-link:"Título 3 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";}
h4
	{mso-style-link:"Título 4 Carácter";
	margin-top:22.0pt;
	margin-right:0cm;
	margin-bottom:3.0pt;
	margin-left:0cm;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Arial","sans-serif";}
p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
	{mso-style-link:"Texto de nota de rodapé Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
span.MsoFootnoteReference
	{font-family:"Times New Roman","serif";
	vertical-align:super;}
span.MsoEndnoteReference
	{font-family:"Times New Roman","serif";
	vertical-align:super;}
p.MsoEndnoteText, li.MsoEndnoteText, div.MsoEndnoteText
	{mso-style-link:"Texto de nota de fim Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoBlockText, li.MsoBlockText, div.MsoBlockText
	{margin-top:0cm;
	margin-right:72.0pt;
	margin-bottom:6.0pt;
	margin-left:72.0pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.MsoPlainText, li.MsoPlainText, div.MsoPlainText
	{mso-style-link:"Texto simples Carácter";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Courier New";}
span.Ttulo2Carcter
	{mso-style-name:"Título 2 Carácter";
	mso-style-link:"Título 2";
	font-family:"Calibri","sans-serif";
	font-weight:bold;
	font-style:italic;}
p.ContentsHeader, li.ContentsHeader, div.ContentsHeader
	{mso-style-name:"Contents Header";
	margin-top:12.0pt;
	margin-right:0cm;
	margin-bottom:6.0pt;
	margin-left:0cm;
	text-align:center;
	text-autospace:none;
	font-size:16.0pt;
	font-family:"Arial","sans-serif";
	font-weight:bold;}
p.TickList, li.TickList, div.TickList
	{mso-style-name:"Tick List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.LowerCaseList, li.LowerCaseList, div.LowerCaseList
	{mso-style-name:"Lower Case List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents1, li.Contents1, div.Contents1
	{mso-style-name:"Contents 1";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents2, li.Contents2, div.Contents2
	{mso-style-name:"Contents 2";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:72.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.ArrowheadList, li.ArrowheadList, div.ArrowheadList
	{mso-style-name:"Arrowhead List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.LowerRomanList, li.LowerRomanList, div.LowerRomanList
	{mso-style-name:"Lower Roman List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading1, li.NumberedHeading1, div.NumberedHeading1
	{mso-style-name:"Numbered Heading 1";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading2, li.NumberedHeading2, div.NumberedHeading2
	{mso-style-name:"Numbered Heading 2";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.DiamondList, li.DiamondList, div.DiamondList
	{mso-style-name:"Diamond List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents4, li.Contents4, div.Contents4
	{mso-style-name:"Contents 4";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:144.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Contents3, li.Contents3, div.Contents3
	{mso-style-name:"Contents 3";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:108.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedHeading3, li.NumberedHeading3, div.NumberedHeading3
	{mso-style-name:"Numbered Heading 3";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.NumberedList, li.NumberedList, div.NumberedList
	{mso-style-name:"Numbered List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.TextodenotadefimCarcter
	{mso-style-name:"Texto de nota de fim Carácter";
	mso-style-link:"Texto de nota de fim";
	font-family:"Times New Roman","serif";}
p.BulletList, li.BulletList, div.BulletList
	{mso-style-name:"Bullet List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.ChapterHeading, li.ChapterHeading, div.ChapterHeading
	{mso-style-name:"Chapter Heading";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.SquareList, li.SquareList, div.SquareList
	{mso-style-name:"Square List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.DashedList, li.DashedList, div.DashedList
	{mso-style-name:"Dashed List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Ttulo3Carcter
	{mso-style-name:"Título 3 Carácter";
	mso-style-link:"Título 3";
	font-family:"Calibri","sans-serif";
	font-weight:bold;}
p.HeartList, li.HeartList, div.HeartList
	{mso-style-name:"Heart List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.UpperRomanList, li.UpperRomanList, div.UpperRomanList
	{mso-style-name:"Upper Roman List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.UpperCaseList, li.UpperCaseList, div.UpperCaseList
	{mso-style-name:"Upper Case List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Footnote, li.Footnote, div.Footnote
	{mso-style-name:Footnote;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:14.4pt;
	margin-bottom:.0001pt;
	text-indent:-14.4pt;
	text-autospace:none;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
p.HandList, li.HandList, div.HandList
	{mso-style-name:"Hand List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Ttulo1Carcter
	{mso-style-name:"Título 1 Carácter";
	mso-style-link:"Título 1";
	font-family:"Calibri","sans-serif";
	font-weight:bold;}
span.TextodenotaderodapCarcter
	{mso-style-name:"Texto de nota de rodapé Carácter";
	mso-style-link:"Texto de nota de rodapé";
	font-family:"Times New Roman","serif";}
span.Ttulo4Carcter
	{mso-style-name:"Título 4 Carácter";
	mso-style-link:"Título 4";
	font-family:"Cambria","serif";
	font-weight:bold;}
p.SectionHeading, li.SectionHeading, div.SectionHeading
	{mso-style-name:"Section Heading";
	margin:0cm;
	margin-bottom:.0001pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.TextosimplesCarcter
	{mso-style-name:"Texto simples Carácter";
	mso-style-link:"Texto simples";
	font-family:Courier;}
p.ImpliesList, li.ImpliesList, div.ImpliesList
	{mso-style-name:"Implies List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.BoxList, li.BoxList, div.BoxList
	{mso-style-name:"Box List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.StarList, li.StarList, div.StarList
	{mso-style-name:"Star List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.TriangleList, li.TriangleList, div.TriangleList
	{mso-style-name:"Triangle List";
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:36.0pt;
	margin-bottom:.0001pt;
	text-indent:-21.55pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
p.Endnote, li.Endnote, div.Endnote
	{mso-style-name:Endnote;
	margin-top:0cm;
	margin-right:0cm;
	margin-bottom:0cm;
	margin-left:14.4pt;
	margin-bottom:.0001pt;
	text-indent:-14.4pt;
	text-autospace:none;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
 /* Page Definitions */
 @page WordSection1
	{size:595.25pt 841.85pt;
	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
-->
</style>

</head>

<body lang=PT style='text-justify-trim:punctuation'>

<div class=WordSection1>

<p class=MsoNormal style='text-align:justify'><b>Termos gerais de utilização</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>1. É permitido colocar um anúncio
relacionado com um produto em particular ou vaga de emprego. Um mesmo anúncio não
pode ser objecto de mais do que um assunto a ser anunciado;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>2. Anúncios que contenham
manipulação de palavras ou que sejam atribuídos a categorias inapropriadas,
podem segundo estes termos de condições ser alvos de medidas que incluam a sua
remoção definitiva;</p>

<p class=MsoNormal style='text-align:justify'>3. A Agrosocial não se
responsabiliza pelo conteúdo dos anúncios, hiperlinks ou fontes mencionadas na
descrição de um anúncio, estando os parâmetros de responsabilidade por conteúdo
e links descritos mais em baixo neste documento;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>4. A Agrosocial pode remover ou
editar as descrições colocadas num anúncio pelos utilizadores, sem ter de
referir a causa do mesmo;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>5. A Agrosocial pode excluir o
utilizador de usar o serviço (ex.: impedi-lo de fazer log in, de colocar ou
responder a anúncios), quando o utilizador tiver violado alguma das condições
deste termo de uso, presentes neste documento;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>6. A Agrosocial esforça-se por
operar correctamente sem falhar, mas no entanto, reserva o direito para
suspender temporariamente as suas operações por razões técnicas, ou causas para
além do controlo da Agrosocial;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>7. A Agrosocial não se
responsabiliza pelo comportamento dos anunciantes, ou items e serviços
anunciados por eles para venda como descrito nos seus anúncios. Ao infringir
num determinado anúncio as regras vigentes na Agrosocial, o utilizador assumirá
toda e qualquer responsabilidade resultando em danos ou prejuízos perante
qualquer entidade, pessoa singular ou colectiva, estando a Agrosocial isenta de
qualquer tipo de responsabilidade resultante;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>8. A Agrosocial não se
responsabiliza por qualquer dano que ocorra na sequência de uma transacção, ou
comportamento inadequado de uma das partes da transacção.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Responsabilidade do utilizador</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>Ao aceitar as presentes Condições
de Serviço, o utilizador obriga-se a:</p>

<p class=MsoNormal style='text-align:justify'>1. Fornecer e manter dados
pessoais verídicos, completos e atualizados;</p>

<p class=MsoNormal style='text-align:justify'><span lang=EN-US>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'>2. Manter confidenciais os dados
de acesso ao seu registo na Agrosocial e usar unicamente o registo de que for
titular, assumindo a plena responsabilidade pelas ações efectuadas com esse
mesmo registo, ainda que por terceiros, com ou sem a sua autorização;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>3. Adoptar unicamente
comportamentos que não infrinjam a ordem jurídica vigente ou que lesem, de
alguma forma, posições juridicamente protegidas;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>4. Não apresentar ofertas de compra
ou venda de artigos, ou contratação ou prestação de serviços, ou comunicação de
produtos e serviços ilícitos ou de carácter violento, provocativo, ofensivo,
racista ou susceptível de violar a privacidade ou direitos de terceiros;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>5. Cumprir todas as obrigações
decorrentes das compras e vendas de artigos e prestação e contratação de serviços
comunicadas através dos seus anúncios na Agrosocial;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>6. Enquanto anunciante, assumir a
total e exclusiva responsabilidade pela veracidade dos dados do anúncio e a sua
adequação ao conteúdo do anúncio, bem como a responsabilidade pela legalidade
do artigo ou serviço anunciado.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Conteúdo e Anúncios</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial não se compromete a
verificar ou aprovar, de forma vinculativa ou sistemática, os anúncios colocados
no site pelos utilizadores: estes são colocados online de forma automática e
sem qualquer interferência ou controlo da parte da Agrosocial. Tutoriais,
Workshops e Eventos serão previamente aprovados, mas não será efetuada revisão
após aprovação.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Os anúncios integrados na
plataforma Agrosocial, contudo, devem cumprir os seguintes requisitos básicos, à
responsabilidade do anunciante:</p>

<p class=MsoNormal style='text-align:justify'>1. Estar colocados na categoria
mais indicada ao produto, serviço ou oferta;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>2. Os anúncios colocados na
Agrosocial, devem ser apenas referentes a Oferta e/ou Venda;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>3. Os artigos e serviços
anunciados não se podem encontrar onerados por direitos de terceiros; têm de
ter disponibilidade imediata (assim, não é permitido vender artigos que não
estejam na posse directa do anunciante; não sendo aceites igualmente reservas
de animais para entrega futura);</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>4. Não incluir qualquer artigo
que conste na seguinte Lista de Artigos de venda ou Contratação proibida:</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>a)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Armas de fogo e munições – não são permitidas armas cujo uso e porte
exija uma licença ou autorização legal prévia. A lista de armas que exigem
licença de uso e porte pode ser consultada em
http://armas.mai-gov.info/perguntas-frequentes/;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>b)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Cópias ilegais – cópias, duplicados ou “cópias de segurança” de
programas informáticos ou artigos audiovisuais, incluindo cartões de memória ou
outros dispositivos de armazenamento que ofereçam ou incluam, como parte do negócio,
este tipo de cópias;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>c)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Drogas, narcóticos e tabaco;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>d)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Equipamento para desbloqueio ou visualização de sinais de vídeo
codificados – segundo a legislação portuguesa actualmente em vigor
(nomeadamente através do decreto-lei 176/2007 de 8 de Maio) é ilegal a
&quot;aquisição, utilização, propriedade ou mera detenção, a qualquer título&quot;
de dispositivos que permitam aceder sem pagar a serviços condicionados, i.e.,
codificados que exijam um pagamento para a sua visualização, como sejam por
exemplo os canais codificados da Zon ou MEO;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>e)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Fogo-de-artifício e derivados;<br>
 </p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>f)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Medicamentos ou testes médicos/farmacêuticos;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>g)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Esquemas em pirâmide / multinível;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>h)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Animais cuja venda não esteja de acordo com a legislação portuguesa atualmente
em vigor, especialmente todos os espécimes inscritos nos Anexos da CITES, em
particular no anexo I A, têm de ser certificados, mesmo que sendo antiguidades
(Decreto-Lei n. 114/90, de 5 de abril; Portaria n. 236/91, de 22 de março).</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>i)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Programas de afiliados/recompensas ou comissões e/ou parcerias de negócio;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>j)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Ofertas não explícitas para ganhar dinheiro / rentabilizar tempo/
trabalho a partir de casa;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>k)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Órgãos humanos;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>l)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Réplicas e contrafações;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>m)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Manifestações artesanais (por exemplo colares) sem o devido registo
(Registo Nacional do artesanato);</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>n)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Especificamente no que respeita a ofertas de Emprego, os anúncios deverão
ser colocados na Sub-categoria mais relevante atendendo ao seu conteúdo e às
funções a realizar pelos profissionais contratados.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>o)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Serviços de Tarot, Horóscopo e/ou Videntes;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>p)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Bens digitais (por exemplo: Contas de jogos/serviços online, software
sem suporte físico, registos/licenças de software, ebooks, vouchers em formato
electrónico);</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>q)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Vales, vouchers e cartões de qualquer tipo;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:0cm;text-align:justify;text-indent:0cm'>r)<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Ofertas de timesharing;</p>

<p class=MsoNormal style='text-align:justify'>            </p>

<p class=MsoNormal style='text-align:justify'>u)         Equipamento para jogos
de fortuna ou azar, como descritos no Decreto-Lei n.º 422/89;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>5. Sem prejuízo do disposto em
cima, não é permitido anunciar conteúdo que viole as regras legais, de
bem-estar social, direitos de terceiros ou que contenha particularmente:</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>a)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Conteúdo vulgar ou ofensivo;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>b)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Conteúdo que viole as regras de etiqueta social;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>c)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Conteúdo que promova o ódio e a violência, o racismo, a xenofobia ou
conflitos entre nações;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>d)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Informação falsa ou dúbia;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>e)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Vírus ou qualquer outra tecnologia que possa prejudicar os outros
utilizadores ou mesmo a Agrosocial como serviço;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>f)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Serviços de publicidade que sejam concorrência ou não à Agrosocial;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>g)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span><b>Conteúdo explícito para adultos e/ou para maiores de 18;</b></p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>h)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Colocação de meios de contacto (email, link/URL, telefónico) no título,
descrição ou fotografias associadas ao anúncio;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>i)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Fotografias genéricas, de catálogo e/ou editadas, que não sejam
representativas do bem que se encontra efetivamente à venda;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>j)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Anúncios que não utilizem a língua portuguesa;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'>k)<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Colocação de tags, palavras-chave ou outros termos no título, descrição
ou imagens do anúncio que não tenham qualquer relação com o artigo/serviço que
está a ser anunciado;</p>

<p class=MsoNormal style='text-align:justify;text-indent:35.4pt'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>6. Qualquer conteúdo relacionado
com serviços que são geralmente repreensivos moralmente, tais como prostituição,
esquemas em pirâmide, usura ou outras formas contrárias à lei ou às regras de
decência são da responsabilidade integral do utilizador anunciante, ficando
sujeito à disposição destas nas categorias apropriadas para utilizadores
maiores de idade e na completa posse de capacidade legal. Observado o não
cumprimento destas condições, a Agrosocial encontra-se legalizado a apagar o
conteúdo em ilegalidade, sem prejuízo da propriedade ou consequências do dito
acto.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>7. Os anúncios de Oferta de
Emprego publicitados devem fazer sempre referência expressa à Sigla M/F e,
devem abster-se de indicarem qualquer preferência por um dos sexos, de acordo
com o disposto nos artigos 24º e 30º do Código do Trabalho, aprovado pela Lei nº7/2009,
de 12 de Fevereiro.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>O anunciante é responsável pelo
cumprimento destes requisitos, podendo a Agrosocial cancelar ou apagar sem pré-aviso
e a qualquer momento anúncios que não estejam de acordo com as normas dispostas
em cima.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Os anunciantes autorizam a
Agrosocial a utilizar livremente os conteúdos correspondentes aos anúncios de
compra e venda de artigos e contratação ou prestação de serviços (por exemplo,
em promoções publicitárias).</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Notificações</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>Os utilizadores concordam em
receber newsletters da Agrosocial bem como notificações relacionadas com a
Agrosocial, incluindo eventuais alterações às presentes Condições de Serviço,
para a caixa de correio electrónico associado ao seu registo.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Política de Privacidade</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>A entidade responsável pela
Agrosocial, valoriza a privacidade dos seus membros e neste sentido
compromete-se a respeitá-la, garantindo o sigilo e proteção dos dados
registados pelos utilizadores.</p>

<p class=MsoNormal style='text-align:justify'>A presente Declaração de
Privacidade, tem como intuito assegurar aos utilizadores condições de Segurança
e de Privacidade, sendo apenas solicitados e recolhidos os dados necessários à
prestação do serviço, de acordo com as indicações explícitas no site.</p>

<p class=MsoNormal style='text-align:justify'>O utilizador tem plena liberdade
para aceder aos seus dados, rectificá-los ou eliminá-los.</p>

<p class=MsoNormal style='text-align:justify'>Assumimos com os utilizadores os
seguintes compromissos:</p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'><span style='font-size:10.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt'>Proceder ao tratamento de dados de
forma lícita e leal, recolhendo apenas a informação necessária;</span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'><span style='font-size:10.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt'>Permitir ao titular dos dados o
acesso e correção das informações sobre si registadas;</span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'><span style='font-size:10.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt'>Manter os dados exatos e, se
necessário, atuais;</span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'><span style='font-size:10.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt'>Garantir gratuitamente o direito
de eliminação dos dados utilizados quando requerida pelo titular;</span></p>

<p class=MsoNormal style='margin-left:36.0pt;text-align:justify;text-indent:
-21.55pt'><span style='font-size:10.0pt'>•<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style='font-size:10.0pt'>Possuir mecanismos de segurança
que impeçam a consulta, modificação, destruição ou adição dos dados por pessoa
não autorizada a fazê-lo.</span></p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Política de Privacidade -
Recolha de dados pessoais</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode ser
visualizado, sem que seja necessário disponibilizar qualquer informação
pessoal. Todavia, existem àreas – como a colocação de anúncios - que exigem a
cedência de informação, sendo necessário que os utilizadores forneçam os seus
dados pessoais, para que possam usufruir dos serviços disponibilizados.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A recolha de dados de identificação
do utilizador será efectuada através do preenchimento de um formulário de
registo online e ocorrerá de acordo com as mais estritas regras de segurança.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>O utilizador ao registar-se na
Agrosocial fornece dados pessoais, tais como o nome, endereço electrónico válido,
telefone, etc., necessários para subscrever os serviços e newsletters do site.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Os dados recolhidos são
introduzidos no sistema informático, onde são tratados e processados
automaticamente nos termos aprovados pela Comissão Nacional de Protecção de
Dados (CNPD), destinando-se os dados à gestão de serviços da Agrosocial.</p>

<p class=MsoNormal style='text-align:justify'><span style='background:yellow'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'>A entidade responsável pela
Agrosocial garante ao utilizador registado a possibilidade de, nos termos da
Lei nº 67/98, de 26 de Outubro, aceder aos seus dados pessoais através da sua página
pessoal e proceder à sua actualização e correcção.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode obter e guardar
informações específicas do dispositivo (como o modelo do hardware, versão do
sistema operacional, identificadores exclusivos de produtos e informações de
rede móvel, inclusive número de telefone.</p>

<p class=MsoNormal style='text-align:justify'><span style='background:yellow'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'>Quando utiliza um serviço da
Agrosocial capaz de identificar a sua localização, podemos obter, armazenar e
processar informações sobre sua localização em tempo real, como sinais de GPS
enviados por um dispositivo móvel. Além disso, podemos usar várias tecnologias
para determinar o local onde se encontra, como dados do sensor do seu
dispositivo móvel que podem, por exemplo, fornecer informações sobre pontos próximos
de acesso Wi-Fi ou de rede móvel.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A sua sessão na Agrosocial, poderá
ser gravada de modo a ser analisada de forma agregada e anónima para
interpretar os padrões de utilização do site e melhorar, de forma contínua, os
níveis de serviço e a satisfação do utilizador.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial pode recorrer a
entidades terceiras para levar a cabo atividades de publicidade e monitorizar
comunicações de marketing.</p>

<p class=MsoNormal style='text-align:justify'><span style='background:yellow'>&nbsp;</span></p>

<p class=MsoNormal style='text-align:justify'>Entidades terceiras como a
Google, podem exibir anúncios do Agrosocial em sites das suas rede de conteúdo.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'>Entidades terceiras como a
Google, podem utilizar Cookies (como os cookies do Google Analytics e da
DoubleClick) que servem para optimizar anúncios com base em informações de
visitas passadas dos utilizadores na plataforma Agrosocial.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Outros serviços</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>Outros serviços que possam surgir
posteriormente e que requeiram a introdução de dados pessoais e/ou das
respectivas entidades estão abrangidos pela política de privacidade e segurança
da, referida neste documento.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Segurança e Qualidade da
informação</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>É nosso objectivo garantir a
qualidade e integridade da informação fornecida pelos utilizadores da
Agrosocial, tendo, neste sentido, sido implementadas as medidas necessárias,
tanto ao nível tecnológico como organizacional, de forma a mantermos a informação
segura, precisa, actualizada e completa.</p>

<p class=MsoNormal style='text-align:justify'>Para garantir a máxima segurança,
nas áreas da Agrosocial onde são recolhidos os dados pessoais dos utilizadores,
a sua transmissão é encriptada.</p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial não se
responsabiliza por quaisquer danos informáticos causados a utilizadores por
transmissão de ficheiros oriundos de terceiros.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal style='text-align:justify'><b>Partilha da informação pessoal</b></p>

<p class=MsoNormal style='text-align:justify'><b>&nbsp;</b></p>

<p class=MsoNormal style='text-align:justify'>A Agrosocial poderá fornecer os
dados pessoais às entidades legais competentes nos casos em que tais dados
forem solicitados por essas entidades na sequência de investigações sobre
actividades ilícitas, fraudulentas, de infracção aos direitos de propriedade
industrial ou intelectual. A Agrosocial poderá igualmente autorizar a utilização
destes dados por outras empresas e entidades para campanhas de marketing e
telemarketing.</p>

<p class=MsoNormal style='text-align:justify'>&nbsp;</p>

<p class=MsoNormal><b>Links</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>A Agrosocial contém links para outros sites, não se
responsabilizando a Agrosocial pelas políticas de privacidade ou conteúdo
desses sites.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Condições de colocação de destaques pagos</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>A colocação de anúncios com destaques pagos está dependente de pré-pagamento,
nos termos definidos na zona de subscrição de pacotes, que constitui parte
integrante das presentes Condições Gerais de Utilização. </p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Findo o período referido no Ponto 1, o Utilizador pode renovar o anúncio,
por igual período, efectuando o pré-pagamento nos termos definidos;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>A conclusão do negócio antes de decorrido o período de colocação do anúncio
definido no Ponto 1, não confere ao Utilizador o reembolso de qualquer quantia,
pela não utilização do anúncio até ao limite máximo da sua duração;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Os anúncios devem respeitar, obrigatoriamente, as condições indicadas na
secção &quot;Conteudo e Anúncios&quot; dos Termos e Condições de Serviço;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Qualquer anúncio que não observe as condições exigidas ou por qualquer
forma prejudique o funcionamento normal do site do Prestador do Serviço, poderá
ser retirado, anulado ou apagado;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>O Utilizador pode, a qualquer momento, editar anúncios ativos, através
da área do Anúncios. </p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>7.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>O Utilizador pode, a qualquer momento, apagar anúncios ativos, sem
qualquer direito ao reembolso da quantia paga para a colocação do anúncio no site
do Prestador do Serviço;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>8.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Por motivos de segurança, o Prestador do Serviço pode adiar a listagem
de anúncios (novos ou depois de editados pelo Utilizador), de contactos de
Utilizadores e das anotações ou imagens dos anúncios e, caso os mesmos não
preencham em condições exigidas, os anúncios podem ser desativados ou
eliminados sem aviso prévio;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>9.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>Valores pagos por destaques opcionais não são devolvidos ou reembolsados
em caso algum, incluindo em caso de cessação de utilização da plataforma agrosocial.pt</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>10.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>Ao colocar
o anúncio no site do Prestador do Serviço, o Utilizador cede ao primeiro todos
os direitos sobre textos e imagens utilizados no anúncio e autoriza que aquele
utilize os textos e imagens dos anúncios para fins promocionais ou publicitários.</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>11.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>A
Agrosocial reserva-se no direito de remover imagens, usadas em qualquer anúncio;</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='margin-left:36.0pt;text-indent:-21.55pt'>12.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp; </span>O destaque
de Primeira Página, garante a exposição em rotação na página inicial do Agrosocial</p>

<p class=MsoNormal style='margin-left:36.0pt'>&nbsp;</p>

<p class=MsoNormal style='text-indent:35.4pt'>&nbsp;</p>

<p class=MsoNormal><b>Sobre Cookies</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal><b>O que são cookies?</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>Os cookies são ficheiros que têm pequenos fragmentos de
informação que é descarregada do seu dispositivo quando visita um website.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Para que servem os cookies?</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>Ajudam o Website a memorizar informações sobre a sua visita,
como o seu idioma preferido e outras definições. Isto pode facilitar a sua próxima
visita e tornar o Website mais útil para si. Os cookies desempenham um papel
importante. Sem eles, utilizar a Web seria uma experiência muito mais
frustrante. Os cookies aumentam a eficiência da navegação nos websites.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Porque utilizamos os cookies?</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>A utilização de Cookies na internet é usual e não prejudica
os computadores dos utilizadores. Os Cookies executam diversas funções,
nomeadamente auxiliar os responsáveis do website a perceber o modo como este é
utilizado, facilitando a respetiva navegação, guardando as suas preferências e,
de modo geral, melhorando a sua experiência de utilização, servindo ainda para
garantir que o website lhe mostra conteúdo relevante.</p>

<p class=MsoNormal>&nbsp;</p>

<p class=MsoNormal><b>Que tipo de cookies utilizamos?</b></p>

<p class=MsoNormal><b>&nbsp;</b></p>

<p class=MsoNormal>A Agrosocial utiliza os seguintes tipos de cookies: Cookies
permanentes - são cookies que ficam armazenados ao nível do browser nos seus
equipamentos de acesso (PC, mobile e tablet) e que são utilizados sempre que
faz uma nova visita a um dos nossos websites. Cookies de sessão - são cookies
temporários que permanecem no arquivo de cookies do seu browser até sair do
website. A informação obtida por estes cookies serve para analisar padrões de
tráfego na web, permitindo-nos identificar problemas e fornecer uma melhor
experiencia de navegação.</p>

</div>

</body>

</html>
