<div class="box">	
	<p>
		<h1 class="errors-title"> AgroSocial </h1>
	    <h4 class="errors-slogan">A SEMENTE DO SEU NEGÓCIO</h4>
	    <h3>Ocorreu um erro inesperado, estamos a tratar do assunto</h3>
	</p>
</div>   