<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-book"></i> Academia</li> >
    <a class="url" href="<%= academy_questions_path %>"> Perguntas</a> >
    <% if user_signed_in? %>
    <%= link_to ' Nova Pergunta', new_academy_question_path,:class=> "url"%>
    <% end %>
  </li>
</ol>

<%= render 'form' %>