<div class="panel">
  <div class="panel-heading border-header">
    <h3 class="panel-title">Nova Questão</h3>
  </div>
  <div class="panel-body">

    <%= render 'form' %>

  </div>
</div>

 <%= link_to 'Voltar', academy_questions_path %>
