<nav class="navbar navbar-default navbar-fixed-top" id="navbarAgro" role="navigation">
<div style="float:left">
  <a href="/"><img id="agrosocial_logo" src="/assets/logo_button.svg" alt="AgroSocial Logo" class="img-circle"></a>
</div>

<div class="linkHover">
    <%= link_to "Entrar".html_safe , new_user_session_path%>
    <%= link_to "Registar", new_user_registration_path%>
</div>
</nav>


