.tutorial_show {
	background-color: white;
	box-shadow: 2px 2px 1px #888888;
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}


/********** Academia_paginainicial **********/


#academy_page{
  
 
 

}

#academy_book{
   
   margin-top:10%; 
   margin-left: 5%;
 }

 #academy_book img{
  


 }

#academy_questions{
	margin-left: 20%;
  
 }

#academy_workshops{
margin-left: 20%;

}

#academy_tutoriais{
margin-left: 20%;
}