// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,
body {
  height: 100%;
  width: 100%;
 
}

#divImg img {
	padding-left: 25px;
	padding-right: 25px;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control{
	width: 25px;
}

#faAngle{
	color: rgb(237, 156, 40);
	font-size: 20px;
}

.linkads a:link{
 	color:black;
}

.linkads a:hover{
 	color:black;
}

.no-effect {
	text-decoration: none;
	padding-left: 10px;
	color: #666B74;
}

.no-effect:hover {
	text-decoration: none;
	padding-left: 10px;
	color: black;
}

#ads p {
	text-align: center;
}

#ads img {
	position: absolute;
	left: 50%;
	margin-left: -165px;
}

#empty-market {
	width: 100%;
	height: 330px;
}

.ads_img_section{
  margin-left: -15px;

}

.ads_img_section img a{
	width: 100%;
	vertical-align: middle;
	border: 0;
}

.ads_img{
	height: 100%; 
	width: 100%;

}

.ads_img table{

	width:100%;
	 height:100%;

}

.ads_otherimg_section{
	margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
}

.ads_title{
	font-size: 24px;
    margin-top: 0;
}

.ads_metainfo{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 10px 0;
	margin: 15px 0;
}

.header_tab{
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-bottom: none;
}

.header{
	border-color: #eff2f7;
font-size: 16px;
font-weight: 300;
}

.sharebutton{
    margin-left: 4px;
	float: right;
}

.no_image{
	width: 100%;
	height: 100%;
}

.ads_no_img{
     width:100%;
	 height:100%;
	 padding: 0px;

}
/********** index ads **********/

/*.ads_index_section{
	margin-right: -15px;

	width: auto;
	height: auto;
}*/

.ads_index_img{
	position: relative;
}

.ads_index_img_pos{

	width: auto;
	
	 padding: 0px;

	
border-radius: 4px 4px 0 0;
-webkit-border-radius: 4px 4px 0 0;
}

.pro_title{
	display: inline-block;
	margin-top: 20px;
	font-size: 16px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: white !important;
}

/* Elastislide Style */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 27px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	position:relative;
	margin-bottom:20px;
}

.es-carousel{
	overflow:hidden;
	background:#000;
}

.es-carousel ul{
	display:none;
}

.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}

.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}

.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}

.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(/assets/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}

.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}

.es-nav span:hover{
	opacity:1.0;
}

.rg-image-wrapper{
	position:relative;
	padding:20px 30px;
	background:transparent url(/assets/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	min-height:20px;
}

.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background:#000 url(/assets/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.3;
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}

.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}

.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}

.rg-image-nav a:hover{
	opacity:0.8;
}

.rg-view{
	height:30px;
}

.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(/assets/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;
}

.rg-view a:hover{
	opacity:1.0;
}

.rg-view a.rg-view-full{
	background-position:0px 0px;
}

.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}

.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}

.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(/assets/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

