/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootstrap-datepicker
 *= stub admin_theme
 *= stub sessions
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require font-awesome
 *= require_tree .
 */

.icon_rating, .icon_rating-nocolor{
	position: absolute;
	background-repeat:no-repeat;
	background-position: center;
	display: inline-block;
	height: 40px;
	width: 20px;

}

.icon_rating {
	background-image:url('carrot-image.png');

}

.icon_rating-nocolor{
	background-image:url('carrot-image-nocolor.png');
}

.rating_color{
  background-image:url('carrot-image.png');
  display: inline-block;
  height: 40px;
  width: 20px;
}

.rating_nocolor{
  background-image:url('carrot-image-nocolor.png');
  display: inline-block;
  height: 40px;
  width: 20px;
}

.btn-twitter {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #ffffff;
  background-color: #EA5B0C;
}
.btn-twitter.disabled,
.btn-twitter[disabled],
fieldset[disabled] .btn-twitter,
.btn-twitter.disabled:hover,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter:hover,
.btn-twitter.disabled:focus,
.btn-twitter[disabled]:focus,
fieldset[disabled] .btn-twitter:focus,
.btn-twitter.disabled:active,
.btn-twitter[disabled]:active,
fieldset[disabled] .btn-twitter:active,
.btn-twitter.disabled.active,
.btn-twitter[disabled].active,
fieldset[disabled] .btn-twitter.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-facebook {
  color: #ffffff;
  background-color: #000064;
  border-color: #46b8da;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open .dropdown-toggle.btn-facebook {
  color: #ffffff;
  background-color: #EA5B0C;
}

.btn-facebook.disabled,
.btn-facebook[disabled],
fieldset[disabled] .btn-facebook,
.btn-facebook.disabled:hover,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook:hover,
.btn-facebook.disabled:focus,
.btn-facebook[disabled]:focus,
fieldset[disabled] .btn-facebook:focus,
.btn-facebook.disabled:active,
.btn-facebook[disabled]:active,
fieldset[disabled] .btn-facebook:active,
.btn-facebook.disabled.active,
.btn-facebook[disabled].active,
fieldset[disabled] .btn-facebook.active {
  background-color: #000064;
  border-color: #46b8da;
}

