/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require bootstrap-datepicker
 *= stub admin_theme
 *= stub sessions
 *= require jquery.pnotify.default
 *= require jquery.pnotify.default.icons
 *= require_tree .
 */

.icon_rating, .icon_rating-nocolor{
	position: absolute;
	background-repeat:no-repeat;
	background-position: center;
	display: inline-block;
	height: 40px;
	width: 20px;

}

.icon_rating {
	background-image:url('carrot-image.png');

}

.icon_rating-nocolor{
	background-image:url('carrot-image-nocolor.png');
}
