html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

#mainFeedBox{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;


}


#element1 {
  max-width:100%;
  padding: 0;
  

}
#element2 {

  float:left;
  padding: 0;

}


