html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}

#mainFeedBox{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  padding: 20px;
  /*background: rgba(255, 255, 255, 0.8);
 
  min-width:375px;

  border-style:solid;
  border-color:#FF9900;
  */


}

#firstRow{
  vertical-align: center;

}


#element1 {float:left;

width:50%;
height:100%;

}
#element2 {padding-left : 20px;float:left;

width:50%;
height:100%;

margin-left:auto;
margin-right:auto;

margin-top:auto;
margin-bottom:auto;
}


