/********** Login_Signup **********/

.form-control { margin-bottom: 10px; }


/********** Login**********/

#login_body{
  background-image:url('/assets/background_login.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border: 2px solid black;
  height: 800px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}



.form-signin
{
    max-width: 100%;
    padding: 10%;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.login-title
{

  -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
    display: block;

}
.login-col-slogan{
  /*width: 450px;
  height: 150px;
  position: absolute;
  border: 2px solid black;
  top:50%;
  margin-top: -125px;
  left: 50%;
  margin-left: -475px;*/

  margin-top: 15%;


}

.login-col-form{
  /*
  height: 600px;
  width: 450px;
  border: 2px solid red;
  position: absolute;
  top: 50%;
  margin-top: -300px;
  left: 50%;*/
  margin-top: 10%;

  
}
.login_form_regist_items a{
   color:#EA5B0C;
}

.login_form_regist_items
{
  width: 200px;
  
  
}

.login-col-form_regist{
  
  
  margin-top: 2%;
  width: auto;
  height: auto;
 
  margin-left:auto;
  margin-right: auto;
  
}

#login_option{

  color: #EA5B0C;
  display: block;
}
.login-slogan{

  
  -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
  color: #EA5B0C;
  font-size: 28px;


}
.profile-img
{
    width: 40%;
    height: auto;
    margin: 2% auto;
    display: block;
   
}
.need-help
{
    margin-top: 10px;
}

.new-account 
{
    color: #fff;


    display: inline;
    
}
.colorrender{

}

.colorrender a{
  color:#EA5B0C;
  
  position: absolute;
  text-align: center;
  
}


#login_body_regist{
  background-image:url('/assets/bg2.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 800px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

#login_body_pocket{
  background-image:url('/assets/farm_wallpaper13.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 800px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

#login_body_show{
  background-image:url('/assets/farm_wallpaper6.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
  height: 800px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

.bgParallax {
 
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  min-height: 100%;
  text-shadow:0 0 10px rgba(0,0,0,0.7);
 
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;

}


.next_section_button{
  display: block;
  position: fixed;
  left: auto;
  right: 25px;
  bottom: 25px;
  background-image: url('/assets/btn_next_desktop.png');
  width: 52px;
  height: 52px;
  margin-left: -26px;
  z-index: 9999;

}
/*recuperar password*/
.regist_form{
  width: 350px;
  height: auto;
  margin-top: 15%;
  background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.regist_form_regist_items a{
  color:#00A75D;
  text-align: center;
}