html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
}






/********** Login_Signup **********/

.form-control { margin-bottom: 10px; }


/********** Login**********/

#login_body
{
  display: table;
  height: 100%;
  width: 100%;
  position: relative;

  background:url('/assets/Backgrounds/farm_wallpaper4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

#login_body2
{
  display: table;
  height: 100%;
  width: 100%;
  position: relative;

  background:url('/assets/Backgrounds/farm_wallpaper_initial.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

.row_login_form {

  right: 50%;

}


#login_body_image{
  background-image:url('/assets/Backgrounds/farm_wallpaper7.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;

}
.form-signin
{
    max-width: 100%;
    padding: 10%;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;

}
.form-signin .checkbox
{
    font-weight: normal;

}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}


.login-title
{

    -webkit-text-shadow:1px 1px #000;
    -moz-text-shadow:1px 1px #000;
    text-shadow:1px 1px #000;
    color: #00A75D;
    font-size: 20px;
   
   

}

.login-title_login
{

    -webkit-text-shadow:1px 1px #000;
    -moz-text-shadow:1px 1px #000;
    text-shadow:1px 1px #000;
    color: #00A75D;
    font-size: 4.5em;
   
   

}
.login-col-slogan{
  /*width: 450px;
  height: 150px;
  position: absolute;
  border: 2px solid black;
  top:50%;
  margin-top: -125px;
  left: 50%;
  margin-left: -475px;*/

  margin-top: 15%;


}

.col-slogan{

    display: inline-block;
    zoom: 1;
    display: inline;
    
    width: 100%;


    background-color: rgba(255,255,255,0.8);
    -webkit-border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}



.login-col-form{
  margin-top: 5%;
}

.linkHover{
    float:right;
    padding-top: 15px;
    font-size: 13px;
}

.linkHover a{
    color:white;
    padding: 5px;
}

.linkHover a:hover{
    background-color:#EA5B0C;
    text-decoration: none;
}

.login_content{
margin-top: 0%;

}
.login_form_regist_items a{
   color:#EA5B0C;
}

.login_form_regist_items
{
  width: auto;
  
  
}

.login-col-form_regist{
  
  width: auto;
  height: auto;
 
 
  margin-top: 1%;
  padding: 10%;
}

#login_option{

  color: black;
  display: block;
}
.login-slogan{

  
  -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
  color: #EA5B0C;
  font-size: 18px;


}
.login-slogan_login{
  -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
  color: #EA5B0C;
  font-size: 1.750em;


}
.profile-img
{
    width: 40%;
    height: auto;
    margin: 2% auto;
    display: block;
   
}
.need-help
{
    margin-top: 10px;
}

.new-account 
{
    color: #fff;


    display: inline;
    
}
.colorrender{
 display: table;
}

.colorrender a{
  color:black;
  
  position: relative;
  
  
}


#login_body_regist{
  background-image:url('/assets/bg2.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

#login_body_image2{
  background-image:url('/assets/Backgrounds/farm_wallpaper5.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

#login_body_image3{

  background-image:url('/assets/Backgrounds/farm_wallpaper.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

#login_body_image4{

  background-image:url('/assets/Backgrounds/farm_wallpaper11.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}


#login_body_image5{

  background-image:url('/assets/Backgrounds/farm_wallpaper5.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}


#login_body_show{
  
  background-image:url('/assets/Backgrounds/farm_wallpaper2.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
 
  height: 600px;
  width: auto;
  min-width: 100%;
  min-height:100%;
}

.bgParallax {
 
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  min-height: 100%;
  text-shadow:0 0 10px rgba(0,0,0,0.7);
 
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;

}


.next_section_button{
  display: block;
  position: fixed;
  left: auto;
  right: 25px;
  bottom: 25px;
  background-image: url('/assets/btn_next_desktop.png');
 width: 52px;
  height: 52px;
  margin-left: -26px;
  z-index: 9999;
}

.prev_section_button{

  display: block;
  position: fixed;
  left: auto;
  right: 25px;
  bottom: 25px;
  background-image: url('/assets/btn_prev_desktop.png');
  width: 52px;
  height: 52px;
  margin-left: -26px;
  z-index: 9999;


}
/*recuperar password*/
.regist_form{
  width: 450px;
  height: auto;
  margin-top: 15%;
  background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.regist_form_regist_items a{
  color:#00A75D;
  text-align: center;
}

/* -------------------------- section ---------------------------- */


#section-information{
  border: 2px solid red;
  background-color: #FFF;
  height: 372px;

}
.login_section_information{
    width: auto;
    height: auto;


    background-color: rgba(255, 255, 255, 0.86);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);


   }

.information
{
  
  width: auto;
  

}

.information h1{

   color: #00A75D;
   
   font-size: 80px;
}


.information p{

   color: black;
   font-family: times;
   font-size: 30px;

}

.icon{

float: right;
}

i.icon{

 
  
  font-size: 2em;
  width: 8%;
  height: 8%;

  vertical-align: middle;
  text-align: center;


}

iframe:not([seamless]) {
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

iframe[Attributes Style] {
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
width: 100%;
height: 100%;
}

a.frame {
  background: transparent;
}

a.frame:visited {
  text-decoration: none;
}

a.frame:hover {
  text-decoration: none;
}

#login_section_video{

  width: auto;
  height: auto;
  

}
#section-video{
  background-color: rgba(255, 255, 255, 0.86);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  height: 450px; 
  width: auto; 
  
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;

  
}

.text-center {
  margin-bottom: 15px;
}

.text-center ul, .text-center p {
  display: inline-block;
  vertical-align: middle;
}

.text-center ul {
  float: left;
}

.text-center p {
  float: right;
}

/* Social Networks */
#facebook, #gplus, #twitter, #contact {
  width: 30px;
  height: 30px;
  background-size: 30px;
  border-radius: 3px;
}

#facebook {
  background-image: url('/assets/social_icons/fb_bw.jpg');
}

#facebook:hover {
  background-image: url('/assets/social_icons/fb.jpg');
}

#gplus {
  background-image: url('/assets/social_icons/gplus_bw.jpg');}

#gplus:hover {
  background-image: url('/assets/social_icons/gplus.jpg');
}

#twitter {
  background-image: url('/assets/social_icons/twitter_bw.jpg');}

#twitter:hover {
  background-image: url('/assets/social_icons/twitter.jpg');
}

#contact {
  background-image: url('/assets/social_icons/contact_bw.jpg');}

#contact:hover {
  background-image: url('/assets/social_icons/contact.jpg');
}
/*--------------------------------------------*/

.video-container {
 
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
   
  
}

.tube{
 
 
}

.close{
  border: 2px solid green;
  background-image: url('/assets/retailer_close.png');
  width: 52px;
  height: 52px;
  z-index: -100000;
  top: 75px;
  right: 16px;
}


/* section regist ------------- */

#section-regist{
  height: auto; 
  width: auto; 
  float: center;
}

#login_section_regist{
 
  width: auto;
  height: auto;
  background-color: rgba(255, 255, 255, 0.86);
    -webkit-border-radius:10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

 .pocket_bronze{
  width: auto;
  height: 300px;
  margin: 2%;
 }
 .pocket_silver{
  width: auto;
  height: 300px;
  margin: 2%;
  
 }

.pocket_gold{
  width: auto;
  height: 300px;
  margin: 2%;
 }

.allpocket{

width: auto;
height: auto;

margin-left: 25%;
margin-right: 15%;

}

.pricing-table .plan {
  border-radius: 5px;
  text-align: center;
  background-color: #f3f3f3;
  -moz-box-shadow: 0 0 6px 2px #b0b2ab;
  -webkit-box-shadow: 0 0 6px 2px #b0b2ab;
  box-shadow: 0 0 6px 2px #b0b2ab;
}
 
 .plan:hover {
  background-color: #fff;
  -moz-box-shadow: 0 0 12px 3px #b0b2ab;
  -webkit-box-shadow: 0 0 12px 3px #b0b2ab;
  box-shadow: 0 0 12px 3px #b0b2ab;
}
 
 .plan {
  padding: 20px;
  color: #fff;
  background-color: #5e5f59;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.plan-name-bronze {
  padding: 20px;
  color: #fff;
  background-color: #00A75D;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 5px 5px;
 }

 .plan-name-bronze,.plan-name-silver h2{
  color:#EA5B0C;
 }
  
.plan-name-silver {
  padding: 20px;
  color: #fff;
  background-color: #00A75D;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 5px 5px;
 }
  
.plan-name-gold {
  padding: 20px;
  color: #fff;
  background-color: #00A75D;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 5px 5px;
  } 

.section_regist_text{
  font-size: 20px;

  }

  .section_regist_text span{
   font-size: 22px;

  }
  
.pricing-table-bronze  {
  padding: 20px;
  color: #fff;
  background-color: #f89406;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
  
.pricing-table .plan .plan-name span {
  font-size: 20px;
}
 
.pricing-table .plan ul {
  list-style: none;
  margin: 0;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
 
.pricing-table .plan ul li.plan-feature {
  padding: 15px 10px 0px 0px;
  border-top: 1px solid #c5c8c0;

}
 
.pricing-three-column {
  margin: 0 auto;
  width: 80%;
}
 

.plan-mouseover .plan-name {
  background-color: #4e9a06 !important;
}
 
.btn-plan-select {
  padding: 10px 8px;
  font-size: 14px;
}


.section-pocket{

 
  background-color: #FFF;
  height: auto; 
  width: auto; 
 
}


/* Services */


.services {

  
  color: white;
  width: 100%;
  height: 100%;
  display: table;
}



.frame {

  padding: 3px 3px 3px 3px;
  background-color: white;
  position: relative;
}

.carrosel {
  position: relative;
  width: 650px;
  height: auto;
  left: 30%;
  margin-left: -305px;
}

.service-item {


    margin-top: 2%;
 
    vertical-align: center;
    width: auto;

}

i.service-icon {
  border: 3px solid #EA5B0C;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center;
  color: #EA5B0C;
}

i.service-icon:hover {
  font-size: 68px;
  color: #00A75D;
  background-color: white;
}

i.twitter {
  color: black;
}

i.twitter:hover {
  text-decoration: none;
  background-color: white;
  color: #2199f0;
}

i.facebook:hover {
  text-decoration: none;
  background-color: white;
  color: #384e92;
}

i.globe:hover {
  text-decoration: none;
  background-color: white;
  color: blue;
}
/*-------------------- */

.fb-login-button{

  width: auto;
  height: auto;
  border: 2px solid black;

}


#rodape{
  background-color: #FFF;
  width: auto;
  height: 100px;
}

.links a{
  color: black;
}
.checkbox label{
  color: black;
}


