*{

  font-family: "Oswald";
  font-weight: normal;
  font-size: 14px;
  color: #293a49;
}

/********** HEADER **********/

#header-bar{
  width:250px;
}


#navbarToggle{
  position:fixed;
  top:0;
  right:0;
}


#bs-example-navbar-collapse-1{
  background-color: #00A75D;
  width:100%;
  position:fixed;
  right:0;
  z-index:-1;
}

.navbar-right{
  resize:horizontal;
}

#searchBox{
  height:50px;
  line-height:50px;
}

#input-groupBox{
  height:100%;
  width:300px;
}


#agrosocial_logo{
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}


#navbarAgro{
  background-color: #00A75D;
}

#brandAgro{
  text-transform: uppercase;
  color: white;
}

#dropCarret{
  border-top-color: #fff;
  /*border-bottom-color: rgb(51, 51, 51);*/
}

a:hover #dropCarret{
  border-top-color: rgb(51, 51, 51);
  /*border-bottom-color: rgb(51, 51, 51);*/
}

.fa-sort-asc{
  color: #fff;
  font-size: 12px;
}


#omnisearch{
  width: 300px;
}

#omnisearch-btn{
  margin-left: 0%;
}

.fa-user, .fa-envelope-o, .fa-globe, .fa-book, .fa-bell-o, .fa-tags, .fa-folder-open-o, .fa-search, #userNick{
  color: #fff;
  font-size: 22px;
}

#userNick{
  color: #fff;
  font-size: 14px;
}


.dropdown-toggle{
  margin-left: -5px;
  margin-right: -5px;


}



#custom-badge{
  margin-left:-2px;
}


/****FOOTER****/
footer {
  background-color: #00A75D;
  bottom: 0;
  position: relative;
  width: 100%;
  color: #fff;
  padding-left: 200px;
}

/******SIDEBAR LEFT**********/


/*Botões principais da sidebar-left*/
#big-btn:hover {
background-color: #16ab84;
}




/******SIDEBAR LEFT**********/

#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
  margin-top: 50px;

}

.main-button-left{
  width: 80%;
  margin-top: 2%;
  text-align: center;
  margin-left: 10%;
  text-indent: 0px;
}

#sidebar-left {
  /*background-color: #eaedf1;*/
  margin-left: -200px;
  margin-top: 5%;
  left: 200px;
  width: 200px;
  position: fixed;
  height: 60%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  /*box-shadow: 0px 3px 5px #888888;*/

}

#sidebar-left ul  {
  list-style: none;
}


#page-content-wrapper {
  width: 100%;
  padding: 15px 0px;
}


.sidebar-nav {
  position: fixed;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #293a49;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #293a49;
  background: rgba(255,255,255,1);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
color:  #293a49;
}


#wrapper {
  padding-left: 0;
}

#sidebar-left {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-left {
  left: 200px;
  width: 200px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
  margin-top: 10px;
  
}

.inset {
  padding: 15px;
}
}

/******THUMBNAILS**********/
ul{
  list-style: none;
}

.thumbnail span {
display: block;
background: #F3984D;
position: absolute;
min-width: 20px;
padding: 8px;
color: white;
font-size: 15px;
opacity: 21;
/*
margin-left: 10px;
margin-top: 10px;
*/
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

.price {
  background: #F3984D;
}



/* pagina de login*/

ul{
  list-style: none;
}

.thumbnail span {
display: block;
background: #F3984D;
position: absolute;
min-width: 20px;
padding: 8px;
color: white;
font-size: 15px;
opacity: 21;
/*
margin-left: 10px;
margin-top: 10px;
*/
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

.price {
  background: #F3984D;
}


/* AUTOCOmplete */
.twitter-typeahead{
  width:100%;
  top: 10px;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  /*margin-bottom: 0;*/
}
.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  width:100%;        
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.twitter-typeahead .tt-hint {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius:4px;
}
.twitter-typeahead .hint-small {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 3px;
    line-height: 1.5;
}
.twitter-typeahead .hint-large {
    height: 45px;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 6px;
    line-height: 1.33;
}

.twitter-typeahead {
     width: 100%;
}
.tt-dropdown-menu {
     width: 100%;
}
.tt-hint {
     width: 100%;
}

#hearts { color: #FF0000;}
#hearts-existing { color: #87bad7;}



/******MESSAGES BOX *********/
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}


.panel-bodyMessage
{
    overflow-y: scroll;
    height: 250px;
}


.revenue-head {
background: #ff6c60;
-webkit-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
color: #fff;
line-height: 50px;
}


/****** Validations *********/
label.valid {
    width: 24px;
    height: 24px;
    background: url(valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
  }
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
  }

.control-group.warning>label,.control-group.warning .help-block,.control-group.warning .help-inline{color:#c09853;}
.control-group.warning input,.control-group.warning select,.control-group.warning textarea{color:#c09853;border-color:#c09853;}.control-group.warning input:focus,.control-group.warning select:focus,.control-group.warning textarea:focus{border-color:#a47e3c;-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e;}
.control-group.warning .input-prepend .add-on,.control-group.warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853;}
.control-group.error>label,.control-group.error .help-block,.control-group.error .help-inline{color:#b94a48;}
.control-group.error input,.control-group.error select,.control-group.error textarea{color:#b94a48;border-color:#b94a48;}.control-group.error input:focus,.control-group.error select:focus,.control-group.error textarea:focus{border-color:#953b39;-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;}
.control-group.error .input-prepend .add-on,.control-group.error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48;}
.control-group.success>label,.control-group.success .help-block,.control-group.success .help-inline{color:#468847;}
.control-group.success input,.control-group.success select,.control-group.success textarea{color:#468847;border-color:#468847;}.control-group.success input:focus,.control-group.success select:focus,.control-group.success textarea:focus{border-color:#356635;-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b;}
.control-group.success .input-prepend .add-on,.control-group.success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847;}

.control-group{margin-bottom:9px;}
legend+.control-group{margin-top:18px;-webkit-margin-top-collapse:separate;}
.form-horizontal .control-group{margin-bottom:18px;*zoom:1;}.form-horizontal .control-group:before,.form-horizontal .control-group:after{display:table;content:"";}
.form-horizontal .control-group:after{clear:both;}
.form-horizontal .control-label{float:left;width:140px;padding-top:5px;text-align:right;}
.form-horizontal .controls{margin-left:160px;*display:inline-block;*margin-left:0;*padding-left:20px;}
.form-horizontal .help-block{margin-top:9px;margin-bottom:0;}
.form-horizontal .form-actions{padding-left:160px;}

.input-xlarge{width:270px;}