*{

  font-family: "Oswald";
  font-weight: normal;
  font-size: 14px;
  color: #293a49;
}

/********** HEADER **********/
/* Cor do header #00ba84 #4db07a #0a9268*/

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: #16ab84;
}
.navbar-inverse {
background-color: #16ab84;
border-color: #16ab84;
box-shadow: 0px 3px 5px #888888;
}

.navbar-inverse .navbar-brand{
  text-transform: uppercase;
  color:#fff;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #34495e;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
color: #16ab84;
background-color: #fff;
}


/******SIDEBAR LEFT**********/

#agrosocial_logo{
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}

.fa-user, .fa-envelope-o, .fa-bell-o{
  color: #fff;
  vertical-align: center;
  font-size: 22px;
}

#omni-search{
  width: 400px;
  margin-left: 25px;
}


#custom-badge{
  margin-left:-10px;

}

/****FOOTER****/


footer {
  background-color: #16ab84;
  bottom: 0;
  position: relative;
  width: 100%;
  color: #fff;
  padding-left: 200px;
}


/******SIDEBAR LEFT**********/

#wrapper {
  padding-left: 200px;
  transition: all 0.4s ease 0s;
  margin-top: 50px;

}

#sidebar-left {
  background-color: #eaedf1;
  margin-left: -200px;
  left: 200px;
  width: 200px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
  /*box-shadow: 0px 3px 5px #888888;*/

}

#sidebar-left ul  {
  list-style: none;
}




#page-content-wrapper {
  width: 100%;
  padding: 15px 25px;
}


.sidebar-nav {
  position: fixed;
  top: 10;
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #293a49;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #293a49;
  background: rgba(255,255,255,1);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
color:  #293a49;
}


#wrapper {
  padding-left: 0;
}

#sidebar-left {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-left {
  left: 200px;
  width: 200px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
  margin-top: 10px;
}

.inset {
  padding: 15px;
}
}

/******THUMBNAILS**********/
ul{
  list-style: none;
}

.thumbnail span {
display: block;
background: #F3984D;
position: absolute;
min-width: 20px;
padding: 8px;
color: white;
font-size: 15px;
opacity: 21;
/*
margin-left: 10px;
margin-top: 10px;
*/
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

.price {
  background: #F3984D;
}



/* pagina de login*/

ul{
  list-style: none;
}

.thumbnail span {
display: block;
background: #F3984D;
position: absolute;
min-width: 20px;
padding: 8px;
color: white;
font-size: 15px;
opacity: 21;
/*
margin-left: 10px;
margin-top: 10px;
*/
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
border-bottom-right-radius: 4px;
}

.price {
  background: #F3984D;
}

/********** Login_Signup **********/

.form-control { margin-bottom: 10px; }


/********** Login**********/

#login_body{
  background-image:url('/assets/bg2.jpg'); 
  
  background-size: 100%;
  min-width: 900px;
  background-repeat: no-repeat;

  
}

.row_login_form{
  
 
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: rgba(255,255,255,0.5);
    -webkit-border-radius:10px;


    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{

    -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
    display: block;

}
.login-col-slogan{
  margin-top:15%;
   
  
}

.login-col-form{
  margin-top:5%;

}

#login_option{

  color: #EA5B0C;
  display: block;
}
.login-slogan{

  
  -webkit-text-shadow:1px 1px #000;
  -moz-text-shadow:1px 1px #000;
  text-shadow:1px 1px #000;
  color: #EA5B0C;
  font-size: 28px;


}
.profile-img
{
    width: 155px;
    height: auto;
    margin: 0 auto 20px;
    display: block;
   
}
.need-help
{
    margin-top: 10px;
}

.new-account 
{
    color: #fff;


    display: inline;
    
}

.colorrender a{
  color:#EA5B0C;
  display: inline;
}

/* ANUNCIOS */

