<p>Bem vindo <%= @email %>!</p>

<p>Podes confirmar o teu email no link abaixo:</p>

<p><%= link_to 'Confimar a minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
