<p>Olá <%= @resource.email %>!</p>

<p>Alguem pediu um link para alterar a sua password. Podes fazer isso no link abaixo.</p>

<p><%= link_to 'Alterar password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não pediste isto podes ignorar este email</p>
<p>A tua password não alterará a não ser que o alteres a partir do link</p>
