<p>Olá <%= @resource.email %>!</p>

<p>A tua conta foi tracada devido a excesso de tentativas falhadas de login</p>

<p>Clica no link abaixo para destrancar a tua conta</p>

<p><%= link_to 'Destrancar a minha conta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
