<ol class="breadcrumb" id="breadcrumbAds" style="border: 1px solid #dddddd;">
  <li class="active">
    <i class="fa fa-bars"></i> <a class="url" href="<%= plans_path %>">Planos</a>
  </li>
</ol>

<div class="container" style="margin-top:10px">
	<div class="row">

		<% @plans.each do |plan_to_send| %>
		    <%=render 'form', :plan => plan_to_send %>
		<% end %>
	</div>

</div>

<div class="fields">
  <button type="button" class="btn btn-primary" onclick="location.href='<%= ads_path %>'">
    <span class="icon-arrow-left" style="margin-right: 5px; color: white;"></span>Voltar
  </button>
</div>