// Place all the styles related to the Academy/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-head-background th {
	background-color: #D8D8D8;
}

.table-head-background th:first-child {
	border-radius: 4px 0 0 0;
}

.table-head-background th:last-child {
	border-radius: 0 4px 0 0;
}

#panel-question {
	margin-top: 10px;
	margin-bottom: 10px;
}

.new-question {
	color: #666;
}

.new-question:hover {
	text-decoration: none;
	color: black;
}

#text-link a:hover {
	text-decoration: none;
	color: black;
}

#user-avatar {
	text-align: center;
}

#edit-question {
	margin: 10px 10px -10px 10px;
}