// Place all the styles related to the Academy/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#panel-question {
	margin-top: 10px;
	margin-bottom: 10px;
}

.new-question {
	color: #666;
}

.new-question:hover {
	text-decoration: none;
	color: black;
}

#text-link a:hover {
	text-decoration: none;
	color: black;
}

#user-avatar {
	text-align: center;
}

#edit-question {
	margin: 10px 10px -10px 10px;
	min-height: 300px;
}

#question-user-image {
	width: 50px;
}

#buttons-question {
	position: absolute;
	left: 16px;
	right: 1px;
	bottom: 1px;
	height: 55px;
	width: auto;
	border-color: #dddddd;
}

#buttons-question a {
	height: 100%;
	vertical-align: middle;
	color: white !important;
}

#buttons-question div > div {
	vertical-align: middle;
}