
/********** index tutorial**********/
.tutorial_text_head {
	color: black;
	font-size: 16px;
	height: 55px;
	vertical-align: middle !important;
}

.title_tutorial {
	color: #EA5B0C;
}

.new-tutorial:hover {
	text-decoration: none;
	color: black;
}

.inactive-edit, .inactive-edit:hover {
	text-decoration: none;
	cursor: default;
	color: #B8B8B8 !important;
}

#icon-color {
	color: #B8B8B8;
}

/********** showtutorial **********/


.title_show_tutorial{
	font-size: 30px;
	text-align: left;
}

.title-font {
	font-size: 15px;
}

.title-font a:hover, .title-font a:visited {
	color: black;
}

.information_show_tutorial span{
	color: #EA5B0C;
	font-size: 16px;
}

.information_show_tutorial{

	font-size: 12px;
}

.text_show_tutorial{
	border: 1px solid black;
	width: 100%;
}

.process_show_tutorial{
	margin-top: 30px;
	margin-bottom: 30px;
}

.process_show_tutorial span{
	color: #EA5B0C;
	font-size: 16px;
}


.button_back{
	float: right;

}

