
/********** index tutorial**********/
.tutorial_text_head {
	color: black;
	font-size: 16px;
	height: 55px;
	vertical-align: middle !important;
}

.table-head-background th {
	background-color: #D8D8D8;
}

.table-head-background th:first-child {
	border-radius: 4px 0 0 0;
}

.table-head-background th:last-child {
	border-radius: 0 4px 0 0;
}

.title_tutorial {
	color: #EA5B0C;
}

.new-tutorial:hover {
	text-decoration: none;
	color: black;
}

.inactive-edit, .inactive-edit:hover {
	text-decoration: none;
	cursor: default;
	color: #B8B8B8 !important;
}

#edit-tutorial {
	margin-left: 10px;
	margin-right: 10px;
}

#icon-color {
	color: #B8B8B8;
}

/********** showtutorial **********/
.title_show_tutorial{
	font-size: 30px;
	text-align: left;
	margin-top: 10px;
	color: black;
}

#tutorial-info {
	margin: 0;
	padding: 0;
}

#tutorial-info li:hover {
	background-color: white;
	text-decoration: none;
}

#tutorial-info li {
	width: 49.8%;
	display: inline-block;
	vertical-align: middle;
}

#category-label span {
	vertical-align: middle;
}

#tutorial-date {
	text-align: right;
}
.title-font {
	font-size: 15px;
}

.title-font a:hover, .title-font a:visited {
	color: black;
}

#tutorial-title-description {
	padding-bottom: 10px;
	border-bottom: 1px solid #eff2f7;
}

.information_show_tutorial span{
	color: black;
	font-size: 16px;
	margin-bottom: 5px;
}

.information_show_tutorial {
	font-family: "Oswald";
	font-size: 12px;
	margin: 10px 10px;
}

.text_show_tutorial{
	text-align: justify;
	width: 100%;
}

#process-separator {
	color: #eff2f7;
}

.process_show_tutorial{
	margin-top: 30px;
	margin-bottom: 30px;
}

.process_show_tutorial span{
	font-size: 16px;
}

#tutorial-footer {
	height: 55px;
}

#tutorial-footer div>div {
	vertical-align: middle;
}

.button_back{
	margin: 0 !important;
	float: left !important;
}

.tutorial_table_body a:hover{
	color:black;
}

