*{

  font-family: "Oswald";
  font-weight: normal;
  font-size: 34px;
  color: #293a49;
}



/********** showWorkshop **********/
.tutorial_text_head {
	color: black;
	font-size: 16px;
	height: 55px;
	vertical-align: middle !important;
}

.title_show_workshop{
	color: #00A75D;
	font-size: 36px;
	font-family: "Oswald";
	font-weight: normal;
}

#text-link a:hover {
	text-decoration: none !important;
	color: black !important;
}

.information_show_workshop span{
	color: black;
	font-size: 16px;
	font-weight: bold;


}

.information_show_workshop{
    margin-top: 2%;
	font-size: 12px;
}


.process_show_workshop{
	margin-top: 30px;
	margin-bottom: 30px;

}

.process_show_workshop span{
	color: black;
	font-size: 16px;

}

.text_show_workshop{
	margin-top: 2%;
	border: 2px solid #e5e5e5;
	width: 100%;
	height: 100%;
	padding-top:2%;
	padding-bottom: 2%;
	font-family: "Oswald";
    font-weight: normal;
    font-size: 13px;
}

.information_show_title{
	color: black;
	font-size: 16px;
	margin-bottom: 2%;
	font-family: "Oswald";
    font-weight: normal;
}

.information_show_data{
	padding-top:2%;
	padding-bottom: 2%;
	padding-left: 2%;
	border: 2px solid #e5e5e5;
	font-family: "Oswald";
    font-weight: normal;
}
.information_show_data span{
	
}

.information_left{
	padding-left: 2%;
	padding-right: 2%;
}

.information_left span{
	margin-left: 5%;
}


.information_workshop{

	font-size: 12px;
	margin-bottom: 2%;
}

.information_title{
	font-family: "Oswald";
  font-weight: normal;
	color: black;
	font-size: 16px;
	margin-bottom: 2%;
}

.information_data{
	padding-top:2%;
	padding-bottom: 2%;
	padding-left: 2%;
	border: 2px solid #e5e5e5;
	font-family: "Oswald";
    font-weight: normal;
    font-size: 12px;
}

.information_workshop span{
	color: black;
	font-size: 18px;
	font-weight:bold;
}

.information_data span{
	font-size: 14px;
}


.button_back{

	float: right;
    margin-top: 1%;
    margin-right: 2%;

}

.fields_workshop{
	height: 15px;
	width: auto;
}

.information_left_info span{
	margin-left: 10%;
}
.information_left_info{
	
}

.workshop_notinscription{
	font-family: "Oswald";
  font-weight: normal;
  color: #00A75D;
	font-size: 32px;
	border:  2px solid #e5e5e5;
}

.workshop_table_head th{

	font-family: "Oswald";
  font-weight: normal;
   color: #00A75D;
	font-size: 16px;
}

.ui-group-buttons a:hover{
	color: black;
}

.button_back a:hover{
	color:black;
}





