<footer style="padding-left:0; position:fixed;">
  <div style="width:100%; display:inline-block;">
    <div style="float:left; min-width:350px;">
      <ul id='footer-info'>
        <li><a href="#">Termos e Condições</a></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
    </div>
    <div style="float:right; min-width:350px; text-align:center;">
      <p style="color:white">© <%= Time.now.year %> AGROSOCIAL. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>