<footer class="footer">
  <div style="width:100%; display:inline-block;">
    <div style="float:left; min-width:375px;">
      <ul id='footer-info'>
        <li><%= link_to "Termos e condições", terms_and_condition_path %></li>
        <li><a href="#">Privacidade</a></li>
        <li><a href="#">Contactos</a></li>
      </ul>
    </div>
    <div style="float:right; min-width:375px; text-align:center;">
      <p style="color:white">© <%= Time.now.year %> AGROSOCIAL. Todos os direitos reservados.</p>
    </div>
  </div>
</footer>