<li class="dropdown messages-dropdown" >
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe" id="fa-globe"></i><span class="badge" id="custom-badge">3</span> <b class="caret" id="dropCarret"></b> </a>
  <ul class="dropdown-menu">

    <li class="dropdown-header">3 New </li>
    <li class="preview">
      <a href="#">
        <span class="avatar"><img src="http://placehold.it/50x50"></span>
        <span class="name">John Smith:</span>
        <span class="message">Hey there, I wanted to ask you something...</span>
        <span class="time"><i class="icon-time"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="preview">
      <a href="#">
        <span class="avatar"><img src="http://placehold.it/50x50"></span>
        <span class="name">John Smith:</span>
        <span class="message">Hey there, I wanted to ask you something...</span>
        <span class="time"><i class="icon-time"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="preview">
      <a href="#">
        <span class="avatar"><img src="http://placehold.it/50x50"></span>
        <span class="name">John Smith:</span>
        <span class="message">Hey there, I wanted to ask you something...</span>
        <span class="time"><i class="icon-time"></i> 4:34 PM</span>
      </a>
    </li>
    <li class="divider"></li>
    <li><a href="#">Ver Mais <span class="badge">3</span></a></li>

  </ul>
</li>