<div class="col-lg-12 col-md-12 col-sx-12 col-sm-6">
    <section class="panel">
      <header class="panel-heading border-header">
        <span class="label label-warning" style="font-size: 14px">Dicas para fazer perguntas</span>
      </header>
      <div class="panel-body">
        <p class="col-md-12">
          A melhor maneira de obter as respostas que está à procura é aprender a melhor forma de fazer sua pergunta. Explique de forma clara e sucinta a sua pergunta....
        <p>
      </div>
    </section>
</div>

