<div class="col-lg-12 col-md-12 col-sx-12 col-sm-6">
    <section class="panel">
      <header class="panel-heading border-header">
        <span class="label label-warning" style="font-size: 14px">Dicas para fazer perguntas</span>
      </header>
      <div class="panel-body">
        <p class="col-md-12">
          The best way to get the answers you're looking for is to learn how to best ask your question. Learn some tips on how to best format your questions in the forum.
        <p>
      </div>
    </section>
</div>

