
<section class="panel">
        <header class="panel-heading">
            Mais Vistos
        </header>
        <div class="panel-body">
            <div>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item One Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                       <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item Two Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="http://placehold.it/50x50">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item Three Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
            </div>
        </div>
</section>

<div class="panel" style="padding:5px">
<div class="panel-heading">
            <h3 class="panel-title">Destaques</h3>
        </div>


<ul class="thumbnails list-unstyled">

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

</ul>

        
</div>