<h4 style="text-align:right"><span class="label label-info" >Publicidade</span></h4>

<ul class="thumbnails list-unstyled">

  <li style="margin-bottom:-25px;">
    <div class="thumbnail" style="padding: 0">
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x40">
      </div>
    </div>
  </li>

  <li style="margin-bottom:-25px;">
    <div class="thumbnail" style="padding: 0">
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x40">
      </div>
    </div>
  </li>

  <li style="margin-bottom:-25px;">
    <div class="thumbnail" style="padding: 0">
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x40">
      </div>
    </div>
  </li>

</ul>