<ul class="thumbnails list-unstyled">

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

  <li style="margin-bottom: -25px">
    <div class="thumbnail" style="padding: 0">
      <span class="price" style="font-size: 8px">EVENTO</span>
      <div style="padding:4px">
        <img alt="300x200" style="width: 100%" src="http://placehold.it/100x50">
      </div>
      <div class="caption">
        <p style="text-align:right">Nome do Anuncio/Evento</p>
      </div>
    </div>
  </li>

</ul>