<% publicity_list = get_publicity(3) %>
<% if (publicity_list && publicity_list.length>0) %>
<div class="col-lg-12 col-md-12 col-sx-12 col-sm-6">
  <section class="panel">
    <header class="panel-heading">Publicidade</header>
    
    <div class="panel-body">
      <ul class="thumbnails list-unstyled">
        <% publicity_list.each do |publicity|  %>
          <li style="margin-bottom:-25px;" onclick="document.location='<%= publicity.link %>'">
            <div class="thumbnail" style="padding: 5px">
              <img alt="Pub" id="pubAD" src=<%=publicity.image.url()%>>
            </div>
          </li>
        <% end %>

       </ul>
    </div>
  </section>
</div>
<% end %>