  <section class="panel">
    <header class="panel-heading">Publicidade</header>
    <div class="panel-body">
      <ul class="thumbnails list-unstyled">

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub1" id="pubAD" src="assets/pub1.jpg">
              </div>
            </div>
          </li>

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub2" id="pubAD" src="assets/pub2.jpg">
              </div>
            </div>
          </li>

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub3" id="pubAD" src="assets/pub3.jpg">
              </div>
            </div>
          </li>

       </ul>
    </div>
  </section>