<div class="col-lg-12 col-md-12 col-sx-12 col-sm-6">
  <div class="row" style="padding: 0; margin-bottom: 10px">
    <div class="col-lg-12 col-md-12 col-sx-12 col-sm-6" style="padding: 0">
        <button type="button" style="width:100%" class="btn btn-primary btn-lg" onclick="location.href='<%= plans_path %>'">Subscreva aqui um plano!</button>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 col-sx-12 col-sm-6">
    <section class="panel">
        <div class="panel-body">
            <div>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="/assets/50x50.gif">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item One Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                       <img src="/assets/50x50.gif">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item Two Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="/assets/50x50.gif">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item Three Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
                <article class="media">
                    <a class="pull-left thumb p-thumb">
                        <img src="/assets/50x50.gif">
                    </a>
                    <div class="media-body">
                        <a href="#" class=" p-head">Item Three Tittle</a>
                        <p>Lorem ipsum dolor sit amet</p>
                    </div>
                </article>
            </div>
        </div>
    </section>
</div>