  <section class="panel">
    <header class="panel-heading">Publicidade</header>
    <div class="panel-body">
      <ul class="thumbnails list-unstyled">

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub1" style="width: 100%" src="assets/pub1.png">
              </div>
            </div>
          </li>

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub2" style="width: 100%" src="hassets/pub2.png">
              </div>
            </div>
          </li>

          <li style="margin-bottom:-25px;">
            <div class="thumbnail" style="padding: 0">
              <div style="padding:4px">
                <img alt="Pub3" style="width: 100%" src="http://placehold.it/100x40">
              </div>
            </div>
          </li>

       </ul>
    </div>
  </section>